<h1><%= @place["name"] %></h1>

<% if @current_user != nil %>
  <a href="/entries/new?place_id=<%= @place["id"] %>" class="btn btn-outline-dark mb-3">New Entry</a>
<% end %>

<div class="row mt-3">
  <% for entry in @entries %>
    <div class="col-12 col-md-4 mb-4">
      <h5><%= entry["title"] %></h5>
      <p class="text-muted"><%= entry["occurred_on"] %></p>
      <% if entry.uploaded_image.attached? %>
        <img src="<%= url_for(entry.uploaded_image) %>" class="img-fluid mb-2">
      <% end %>
      <p><%= entry["description"] %></p>
    </div>
  <% end %>
</div>

<a href="/places">Back to All Places</a>